@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hurricane&family=Indie+Flower&family=Inspiration&family=Pacifico&family=Roboto:wght@100&family=Rock+3D&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* display: flex; */
    /* margin: auto;
    padding: auto; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* width: 100vw; */
}
#navbar {
    z-index: 1;
    /* font-family: 'Roboto',sans-serif; */
    font-size: 1.3rem;

}
#section2 {
    position: relative;
    z-index: 2;
    /* font-family: 'Roboto',sans-serif; */
}
.greet {
    /* font-family: 'Dancing Script'; */
    font-size: 1.3rem;
}
#brand-icon {
    /* background-color: green; */
    height: 30px;
    width: 30px;
    transform: scale(1);
    transition: transform ease 500ms;
}

#brand-icon:hover {
    transform: scale(1.7);
}

h1 {
    font-family: 'Pacifico', cursive;
}

#image {
    background: url(/Marshall_Edu/assets/tof-6.jpg);
    background-size: cover;
    height: 200vh;
    width: 100%;
    position: relative;
    z-index: 0;
}
#text {
    font-size: 1.3rem;
}
.monsite {
    z-index: 1;
    padding-top: 50vh;
    position:fixed;
    font-family: 'courgette';
    font-size: 5em;
    color: black;
    text-shadow: 1px 2px 10px #fff;
}

.marshall-logo {
    width:100%;
}

.footer {
    position: relative;
    z-index: 2;
}

.bouton {
    background-color: transparent;
    border: none;
    height:10px;
    margin-top: 20px;
}
.social-icon {
    height: 30px;
    width: 30px;
}

.retour {
    display: none;
}

 @media screen and (min-width: 600px){
    .marshall-logo {
        width:100%;
    }
    .marshall-logo-conteneur {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 753px) {
    .marshall-logo {
        width:100%;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .marshall-logo-conteneur {
        display: none;
        justify-content: center;
        align-items: center;
        width: auto;
    } 
    .retour {
        float: left;
        display: inline;
    }
}

@media screen and (max-width: 1500px) {
    #image {
        background: url(/Marshall_Edu/assets/tof-6-moyen.jpg);
        background-size: cover;
        height: 200vh;
        width: 100%;
        position: relative;
        z-index: 0;
    }
}

.all {
    width: 200vh;
}